body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.title-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

.content-container {
  padding: 20px;
  margin-top: 100px; /* to prevent content from overlapping the fixed header */
}

.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
}

.control-item label {
  font-weight: bold;
  margin-bottom: 5px;
}

.control-item input,
.control-item select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.divider {
  border: none; /* Remove default border styling */
  border-top: 3px solid #ccc; /* custom border -- divider */
}

.securities-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.graph-container {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}


.bottom-container {
  margin: 0px;
  padding: 20px;
  text-align: center;
}

.assumptions-and-graph {
  display: flex;
  justify-content: space-around; 
  gap: 20px; /* Space between the assumptions and graph */
  margin: 0 auto; 
  min-width: 1200px;
  max-width: 1200px; /* Keeps the width consistent with the rest of the layout */
}

.assumptions {
  flex: 0 0 25%; 
  background-color: #fff; 
  border: 1px solid #bebbbb;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.assumptions h3 {
  text-align: center;
}

.assumptions ul {
  list-style-type: disc; 
  margin: 0px; 
  padding: 0;
  text-align: left;
  width: 100%;
}

.graph {
  flex: 0 0 70%;
  height: 665px;
  background-color: #fff; 
  border: 1px solid #bebbbb;
  border-radius: 10px;
  padding: 5px;
}

.graph-placeholder {
  height: 500px; /* Placeholder height for the graph */
  background-color: #eaeaea;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
}
